<ion-side-menus enable-menu-with-back-views="false" class="left-menu">
  <ion-side-menu-content>
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon menu-toggle-icon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content class="my-menu" scroll="false">

      <div class="avatar-menu">

        <div class="col header text-center">

          <div class="img-avatar-header">
            <img class="img-avatar" src="img/user.jpg"/>

            <h4 class="menu-avatar-name">Fabian Cabau</h4>
          </div>

        <ion-list class="open-sans menu-options">
          <ion-item menu-close href="#/app/profile">
            <i class="icon ion-android-person"></i> Meu perfil
          </ion-item>
          <ion-item menu-close href="#/app/bandprofile">
            <i class="icon ion-location"></i> Bandas da região
          </ion-item>
          <ion-item menu-close href="#/app/browse">
            <i class="icon ion-ios-search-strong"></i> BandFinder
          </ion-item>
          <ion-item menu-close href="#/app/playlists">
            <i class="icon ion-ios-list"></i> Playlists
          </ion-item>
        </ion-list>

        </div>

      </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-clear menu-footer">
      <a class="button button-icon icon ion-gear-b title"></a>
    </ion-footer-bar>


  </ion-side-menu>
</ion-side-menus>