<ion-view view-title="Perfil" class="profile">
  <ion-content class="padding no-header profile-background">
    

      <div class="item-avatar">
        <img class="center-card-avatar" src="img/user.jpg">
      </div>
      
      <div id="user-info">
        <h2 class="text-center">Fabian Cabau</h2>
        <p class="text-center">Rock/Reaggae/Pagode e os caralho</p>
      </div>

      <div class="button-bar">
        <a class="button "><i class="icon ion-heart assertive"></i></a>
        <a class="button "><i class="icon ion-location balanced"></i></a>
        <a class="button "><i class="icon ion-ios-list positive"></i></a>
      </div>

      
      <!-- <div id="user-options">
        <div id="fav">
          <i class="icon ion-heart assertive"></i>
        </div>
        <div id="location">
          <i class="icon ion-ios-location balanced"></i>
          <span class="option-text">Araraquara/SP</span>
        </div>
      </div> -->

  </ion-content>
</ion-view>
